img{
    width:22vw;
    height:20vw;
    border-top: 0.1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.Info::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Info {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.img_holder{
    width:22vw;
    height:20vw;
    margin: auto;
    
}
span{
    color:black;
}
.Card{
    height:35vw;
    margin-top:2vw;
    float:left;

    width:22vw;
    position: relative;
    margin-left:3vw;
    border: 0.1px solid #ECEDEC;
    border-radius: 10px;
    background-color: #bc436f;
}
.Info{
    position:absolute;
    height:17vw;
    width:20vw;
    bottom:3vw;
    left: 5%;
    overflow-y:scroll ;
    overflow-x: hidden;
    background-color:#ffffff00;
    
}
h1{
    font-size: 1.7vw;
    text-align: center;
}
.Title{
    color:black;
}
h1,h3,h4{
    margin:0;
    color:#665d5d;
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

h3{
    font-size:1.4vw;
}
h4{
    position: absolute;
    cursor: pointer;
    width:9vw;
    font-size: 1.4vw;
    height:2.1vw;
    bottom:0.3vw;
    text-align: center;
    color:white;
    padding-top:1%;
    justify-content:center;
    right:1vw;
    background-color: #933155;
    border: 0.1px solid #bc436f;
    border-radius:6px;
}
h4:hover{
    background-color: #581616;
}
.first{
    border-top: 0.1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f8f1f1;
}
.second{
    margin-top: 1vw;
    border-top: 0.1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f8f1f1;

}
.third{
    margin-top: 1vw;
    border-top: 0.1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f8f1f1;
}