header{
    background-color: rgb(246, 247, 248);
    height:3rem;
    display:flex;
}
.nav-right{
    position:absolute;
    color:white;
    display:flex;
    justify-items:right;
    right:1vw;
}
#acct{
    width:4vw;
    height:4vw;
    padding-left: 2vw;
    cursor: pointer;
}
